.card-order-detail{
    position: relative;

    .orden-detail{
        display: flex;
        margin: 20px 0px;
        border: solid thin;
        padding: 10px 5px;

        .img-producto{
            width: 100px;
            height: 100px;
            border-radius: 5px;
            margin-right: 10px;
        }

        .info-order{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        div {
            
            .time-order{
                position: absolute;
                top: -10px;
                width: fit-content;
                background-color: white;
                border: solid thin;
                right: 20px;
            }

            .title-order{
                font-weight: bold;
            }
        }

        .custom_pending_button{
            position: absolute;
            right: 20px;
            top: 5vh;
        }
        
        .delete_order_button{
            position: absolute;
            right: 20px;
            top: 12vh;
        }

        .order_detail_status{
            color: white;
            font-weight: bold;
            background-color: green;
            padding: 0px 5px;
        }
    }
}

.order_pending{
    background-color: rgb(255 150 47 / 76%);
}

.order_canceled{
    background-color: rgb(47, 210, 255, 0.35);
}

.order_delivered{
    background-color: #20df06;
}

.order_closed{
    background-color: rgb(68, 47, 255, 0.35);
}