.Search-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .new-record{
        .btn{
            padding: 5px 15px;
        }
    }

    .search-record{
        .input{
            width: 300px;
        }
    }
}

table{
    thead{
        tr{
            th{
                text-align: left;
            }
        }
    }   

    tbody{
        tr{
            td{
                vertical-align: middle;
                text-align: left;

                .btn-edit{
                    margin-right: 5px;
                }
            }
        }
    }
}

.table-fixed-header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    thead {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    tbody.table-body-scroll {
        display: block;
        max-height: calc(100vh - 300px); 
        overflow-y: auto;
        
        tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
    }
}