.main-container{
    width: -webkit-fill-available;
    padding: 20px 10px;

    table{
        thead{
            tr{
                th{
                    text-align: left;
                }
            }
        }   

        tbody{
            tr{
                td{
                    vertical-align: middle;
                    text-align: left;
                }
            }
        }
    }
}