.toast-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    z-index: 99999;
    pointer-events: auto !important;
  }
  