.bk-success{
    background-color: #84ed84;
}

.bk-error{
    background-color: #ee6565;
}

.bk-warning{
    background-color: #fefe80;   ;
}

.bk-info{
    background-color: #6c91e3;
}


.bk-success-ligth{
    background-color: rgb(201 245 211 / 85%);
}

.bk-error-ligth{
    background-color: rgb(235 166 156 / 85%);
}

.bk-warning-ligth{
    background-color: rgb(239 246 202 / 85%);
}

.bk-info-ligth{
    background-color: rgb(190 194 249 / 85%);
}


